@import url('../fonts/IRANSans-web.css?');
/* @import url('../fonts/Dubai.css'); */
@import url('../fonts/font-awesome.min.css');
@import url('../fonts/SportsFont.css?1');

.swal2-container { z-index: 9999990 !important; }

* { font-family: 'IranSans', tahoma; }

body { margin: 0px; font-weight: 300; background: #333; }
*:not(input,textarea) { -webkit-touch-callout: none; -webkit-user-select: none; outline: none; direction: rtl; }
* { font-family: 'IranSans', tahoma; box-sizing: border-box; font-style: normal; direction: rtl; }

.hidden { display: none; }

.left { float: right; }
.right { float: left; }
.clear { clear: both; height: 0px; }

.left-align { text-align: right; }
.right-align { text-align: left; }

.inline { display: inline-block; }
.center { text-align: center; }

.pointer { cursor: pointer; }
.medium { font-weight: 400; }
.bold { font-weight: 500; }

.fs0 { font-size: 0px; }
.fs20 { font-size: 20px; }

.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }

.mt2 { margin-top: 2px; }
.mt3 { margin-top: 3px; }
.mt5 { margin-top: 5px; }
.mt8 { margin-top: 8px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }

.mr10 { margin-right: 10px; margin-left: 10px; }
.mr20 { margin-right: 20px; margin-left: 20px; }
.mr40 { margin-right: 40px; margin-left: 40px; }

.ml5 { margin-right: 5px; }
.ml10 { margin-right: 10px; }
.ml15 { margin-right: 15px; }

.p15 { padding: 15px; }
.p30 { padding: 30px; }

.ph15 { width: 100%; height: 10px; }
.ph25 { width: 100%; height: 25px; }

.pr10 { padding-right: 10px; padding-left: 10px; }

.w100 { width: 100%; }
.mw160 { min-width: 160px; }

.c-red { color: red !important; }
.c-green { color: green !important; }
.c-blue { color: blue !important; }
.c-gray { color: #383838 !important; }
.c-main { color: #ffd33b !important;} 
.c-white { color: #fff !important;} 
.c-orange { color: #ffd33b !important;} 

.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px !important; }

.ts { text-shadow: 2px 2px #000000; }
.tdn { text-decoration: none; }

.text-content-page { color: #fff !important; line-height: 170%; }
.text-content-page p { color: #fff !important; line-height: 170%; }
.text-content-page a { color: #ffd33b !important; text-decoration: none; }
.text-content-page a:hover { text-decoration: underline; }

.container { width: 100%; }

.header-top { background: #000; padding-bottom: 0px; }

.header { text-align: center; }

.header .name { display: inline-block; font-size: 14px; color: #acacac; padding: 7px 4px 7px 4px; text-decoration: none; margin-top: 8px; font-weight: 300; }
.header .balance { display: inline-block; font-size: 14px; color: #ffcb39; padding: 7px 4px 7px 4px; text-decoration: none; margin-top: 8px; font-weight: 400; }
.header .account { display: inline-block; color: #fff; padding: 7px 8px 7px 8px; text-decoration: none; margin-top: 8px; font-weight: 400; }

.header .link { display: inline-block; color: #ffba00; padding: 7px 20px 7px 20px; font-size: 14px; text-decoration: none; margin: 8px 4px 0px 4px; font-weight: 400; }
.header .login { background: #0e0e0e; color: #fff; border: 2px solid #7a7a7a; padding: 5px 20px 5px 20px; font-weight: 500; border-radius: 4px; margin: 8px 2px 0px 2px; font-size: 14px; }
.header .signup { background: #ffcb39; color: #000; font-weight: 500; border-radius: 4px; padding: 6px 20px 6px 20px; font-size: 14px; margin: 8px 2px 0px 2px; }
.header .language { color: #fff !important; border: 0px solid #fff; padding: 8px 10px 8px 10px !important; }
.header .signup:hover { color: #7a7a7a; }
.header .login:hover { color: #7a7a7a; }
.header .text-link { color: #acacac; font-size: 13px; font-weight: 400; text-decoration: none; padding-left: 10px; }
.header .text-link:hover { color: #fff; }

.header .language-selector { direction: ltr; display: none; }
.header .language-caret { color: #fff; padding-top: 20px; cursor: pointer; margin-right: -8px; }
.header .language-box { position: absolute; direction: rtl; margin-top: 40px; margin-left: 15px; z-index: 999; }
.header .language-box a { display: block; text-decoration: none; }
.header .language-box a:hover { color: #ffba00; }
.header .language-box img { display: block; }

.header-sub { background: #0e0e0e; width: 100%; height: 40px; border-top: 1px solid #333; text-align: right; }
.header-sub .litem { display: inline-block; line-height: 40px; height: 38px; font-size: 14px; font-weight: 400; color: #acacac; text-decoration: none; padding: 0px 20px; }
.header-sub .litem:hover, .header-sub .liact { border-bottom: 2px solid #ffcb39; color: #fff; }

.header-main-center { background: #000; }

.footer { width: 100%; background: #0e0e0e; color: #acacac; text-align: center; padding: 20px 0px 20px 0px; font-size: 14px; }
.footer-links { width: 100%; background: #000; text-align: center; color: #acacac; padding: 20px 0px 20px 0px; font-size: 14px; }
.footer-links .footer-link { display: block; text-decoration: none; color: #acacac; margin-bottom: 4px; text-align: right; font-size: 12px; font-weight: 400; }
.footer-links .footer-link:hover { color: #fff; }
.footer-links .footer-link::before { content: "\2022  "; }

.header-wrapper { display: flex; }
.top-bar-wrapper { position: relative; height: auto; padding-bottom: 0px; width: 100%; overflow: hidden; }

.top-bar { text-align: center; background: #000; font-size: 0; white-space: nowrap; position: absolute; bottom: 10px; }
.top-bar a { text-align: center; text-decoration: none; color: #fff; font-size: 14px; font-weight: 400; display: inline-block; padding: 0px 15px 0px 15px; vertical-align:top; }
.top-bar a:hover, .top-bar .active { color: #ffd33b; }
.top-bar .live-tab { color: red !important; }

.main-splash { width: 100%; font-size: 0; }
.main-splash .image-container { width: 100%; height: 660px; overflow: hidden; white-space: nowrap; }
.main-splash .image-container .image { width: 100%; height: 100%; display: inline-block; background-size: cover; background-position: center; background-repeat: no-repeat; }
.main-splash .image-shadow { position: relative; width: 100%; height: 250px; margin-top: -250px; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.53) 10%, rgba(0,0,0,0.61) 36%, rgba(0,0,0,0.63) 45%, rgba(0,0,0,0.69) 69%, rgba(0,0,0,1) 96%); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.53) 10%,rgba(0,0,0,0.61) 36%,rgba(0,0,0,0.63) 45%,rgba(0,0,0,0.69) 69%,rgba(0,0,0,1) 96%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.53) 10%,rgba(0,0,0,0.61) 36%,rgba(0,0,0,0.63) 45%,rgba(0,0,0,0.69) 69%,rgba(0,0,0,1) 96%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); }
.main-splash .box-container { position: relative; width: 100%; height: 180px; margin-top: -180px; }
.main-splash .border-box { margin-right: 4%; width: 28%; height: 100%; float: right; display: block; text-align: center; white-space: nowrap; overflow: hidden; text-decoration: none; background: rgba(0,0,0,0.5); border-width: 1px; border-style: solid; border-color: #ececec; -moz-border-image: -moz-linear-gradient(top,#fff 0%,#000000 70%); -webkit-border-image: -webkit-linear-gradient(top,#fff 0%,#000000 70%); border-image: linear-gradient(to bottom,#fff 0%,#000000 70%); border-image-slice: 1; color: #fff; }
.main-splash .border-box .image { margin-top: 5px; }
.main-splash .border-box .title { margin-top: 5px; color: #fff; font-size: 26px; text-shadow: 2px 2px #000000; height: 34px; font-weight: 400; }
.main-splash .border-box .subtitle { margin-top: 7px; color: #fff; font-size: 14px; }
.main-splash .border-box:hover .title { font-size: 28px; font-weight: 500; }

.main-games-box { width: 100%; background: #000; padding-bottom: 10px; padding-top: 10px; }
.main-games-box .game { float: right; display: block; width: 16%; margin-right: 0.6%; text-decoration: none; }
.main-games-box .game img { width: 100%; }
.main-games-box .game .title { /*display: none;*/ position: relative; height: 100%; padding: 10px 0px 10px 0px; margin-top: -40px; width: 100%; text-align: center; background: rgba(255,187,2,0.2); font-size: 16px; color: #fff; }
.main-games-box .game:hover .title { display: block; }

.light {  }
.dark {  }

.page-content { width: 100%; min-height: 600px; text-align: center; }
.page-content .page-area { margin: 5px 0px 5px 0px; text-align: right; }
.page-content .page-area .page-title { text-align: right; color: #ffd33b; background: #000; padding: 10px; font-size: 18px; font-weight: 400; border-bottom: 1px solid #333; }

.item-box { display: block; float: right; width: 32%; margin-right: 1%; margin-bottom: 10px; overflow: hidden; text-decoration: none; }
.item-2-box { display: block; float: right; width: 49%; margin-right: 1%; margin-bottom: 10px; overflow: hidden; text-decoration: none; }
.item-box .image, .item-2-box .image { width: 100%; position: relative; padding-top: 56.25%; background-position: center; background-size: cover; }
.item-box .title, .item-2-box .title { position: relative; height: 0px; width: 100%; }
.item-box .title div, .item-2-box .title div { color: #ccc; height: 36px; background: #000; position: relative; top: -36px; line-height: 36px; text-align: center; font-size: 16px; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-top: 1px solid #333; }
.item-box:hover .title div, .item-2-box:hover .title div { font-size: 18px; color: #fff; }

.static-menu { width: 250px; }
.static-menu .link-container { padding: 0px; margin-top: 5px; margin-bottom: 20px; margin-left: 10px; margin-right: 10px; background: #0e0e0e; }
.static-menu .link-container a { color: #fff; display: block; text-align:center; text-decoration: none; padding: 13px 0px 13px 0px; border-bottom: 1px solid #333; margin: 0px; font-size: 14px; font-weight: 500; }
.static-menu .link-container a:last-child { border-bottom: 0px; }
.static-menu .link-container a:hover, .static-menu .link-container .active { color: #fff; background: #000; }
.static-menu .selector { width: 100%; font-size: 20px; }

.static-content { width: calc(100% - 260px); }

.form-container { background: #0e0e0e; }
.form-container .alert { display: none; margin-top: 0px; margin-bottom: 15px; background: #e74c3c; padding: 10px; color: #fff; text-align: center; font-weight: 400; }
.form-container .form-title { font-weight: 300; font-size: 16px; margin: 8px 20px 8px 20px; color: #acacac; }
.form-container .form-element { width: 400px; font-size: 14px; text-align: right; color: #acacac; }
.form-container .form-input { width: 100%; background: #fff; height: 32px; border: 1px solid #202a47; color: #202a47; padding: 6px 6px 6px 6px; }
.form-container .form-link { color: #acacac; text-decoration: none; font-size: 12px; }
.form-container .form-link:hover { color: #fff; }
.form-container .form-button { background: #ffd33b; border-radius: 4px; display: inline-block; color: #000; padding: 7px 20px 7px 20px; text-decoration: none; font-weight: 500; }
.form-container .form-button:hover { color: #7a7a7a; }
.form-container .red-button { background: #e74c3c !important; }
.form-container .form-loading { display: none; width: 126px; height: 22px; background: url(../images/loader.gif?0) no-repeat; background-position: center; }

.left-bar { color: #fff; width: 300px; margin: 0px 10px 0px 10px; }
.left-bar .title { display: block; text-decoration: none; text-align: right; color: #ffd33b; background: #000; padding: 14px; font-size: 14px; font-weight: 400; }
.left-bar .menu-container { width: 100%; padding-bottom: 0.1px; background: #0e0e0e; }
.left-bar .menu-container .link { display: block; width: 100%; padding: 10px 10px 8px 10px; text-decoration: none; font-size: 14px; font-weight: 400; color: #fff; border-top: 1px solid #333; }
.left-bar .menu-container .link .badge { font-size: 10px; padding: 1px 8px 1px 8px; background: #808080; color: #fff; border-radius: 4px; font-weight: 500; margin: 2px 8px 0px 8px; }
.left-bar .menu-container .link:hover, .left-bar .menu-container .active { color: #fff !important; background: #000 !important;  }
.left-bar .menu-container .search { display: block; width: calc(100% - 2px); margin-right: 2px; margin-bottom: 2px; padding: 5px 10px 5px 10px; background: #ddd; text-decoration: none; font-size: 14px; font-weight: 400; color: #000; }
.left-bar .menu-container .search input { width: 100%; font-size: 18px; }
.left-bar .menu-container .icon { min-width: 16px; min-height: 16px; }

.right-bar { color: #fff; width: 350px; margin: 0px 10px 0px 10px; }
.right-bar .title { display: block; text-decoration: none; text-align: right; color: #ffd33b; background: #000; padding: 14px; font-size: 14px; font-weight: 400; border-bottom: 1px solid #202a47; }

.game-container { width: 100%; height: 700px; background: #17191f; overflow: hidden; }
.game-place { width: 100%; height: 700px; border: 0px; padding: 0px; margin: 0px; }

.search-div { background: #000; margin-top: 5px; padding: 8px; padding-top: 10px; margin: 10px; margin-bottom: 0px; }
.search-div span { font-size: 20px; color: #acacac; }
.search-div input { border: 0px; background: #000; color: #acacac; outline: none; margin-right: 10px; margin-left: 10px; width: calc(100% - 60px); font-size: 16px; }

.event-container { width: calc(100% - 690px); margin: 0px; margin-top: 5px; }
.event-container .border { background: #333; color: #000; }
.event-container .info { width: 100%; min-height: 150px; background-size: cover; background-position: center; }
.event-container .football { background-image: url(../images/courts/football.png); }
.event-container .other-sport { background-image: url(../images/courts/basketball.png); }
.event-container .title { width: 100%; color: #fff; text-align: center; font-weight: 400; padding: 15px 0px 14px 0px; border-bottom: 1px solid #333; font-size: 14px; }

.event-container .block { display: block; text-decoration: none; text-align: right; color: #fff; background: #000; padding: 10px; font-size: 14px; font-weight: 400; border-bottom: 1px solid #333; }
.event-container .categories { display: block; width: 100%; background: #0e0e0e; border-bottom: 1px solid #333; overflow-x: auto; overflow-y: hidden; white-space: nowrap; height: 69px; font-size: 0px; }
.event-container .categorie { display: inline-block; min-width: 60px; padding: 10px; color: #acacac; text-align: center; text-decoration: none; font-size: 28px; }
.event-container .categorie:hover, .event-container .scategory { color: #fff; border-bottom: 2px solid #ffd33b; }
.event-container .categorie .name { font-size: 9px; margin-top: 4px; }

.event-container .score-box { margin-right: 5px; width: 60px; height: 50px; line-height: 50px; border: 1px solid #111; color: #fff; font-size: 26px; font-weight: 500; }
.event-container .score-box .line-1 { position: relative; margin-top: -24px; height: 4px; border-top: 1px solid rgba(0,0,0,0.25); border-right: 1px solid #fff; border-left: 1px solid #fff; }
.event-container .score-box .line-2 { position: relative; margin-top: -7px; height: 4px; border-right: 1px solid #fff; border-left: 1px solid #fff; }

.event-container .football .card { display: inline-block; width: 12px; height: 18px; border: 1px solid #000; background: yellow; border-radius: 3px; }
.event-container .football .red { background: red !important; }
.event-container .football .team { padding: 10px; margin-right: 5px; width: calc(50% - 88px); height: 70px; border: 1px solid #383838; color: #fff; font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.event-container .football .score { width: 160px; }
.event-container .football .score-middle { width: 25px !important; }
.event-container .football .time { margin-right: 5px; margin-top: 5px; margin-bottom: 10px; width: 155px; border: 1px solid #111; line-height: 30px; background: rgba(32,42,71,0.5); font-weight: 500; font-size: 14px; color: #fff; }
.event-container .football .time .minute { color: #e9a025; font-weight: 500; }

.event-container .others .wi-1 { width: calc(100% - 70px); }
.event-container .others .wi-2 { width: calc(100% - 135px); }
.event-container .others .wi-3 { width: calc(100% - 200px); }
.event-container .others .wi-4 { width: calc(100% - 265px); }
.event-container .others .wi-5 { width: calc(100% - 330px); }
.event-container .others .wi-6 { width: calc(100% - 395px); }
.event-container .others .wi-7 { width: calc(100% - 460px); }
.event-container .others .wi-8 { width: calc(100% - 525px); }

.event-container .others .others-container { min-width: 70%; }
.event-container .others .team { height: 50px; line-height: 50px; border: 1px solid #000; font-weight: 500; color: #fff; font-size: 20px; padding: 0px 10px 0px 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.event-container .others .orange { color: #e9a025; }
.event-container .others .time { padding: 0px 5px 0px 5px; border: 1px solid #111; line-height: 30px; background: rgba(32,42,71,0.5); font-weight: 500; font-size: 14px; color: #fff; }
.event-container .others .time .minute { color: #e9a025; font-weight: 500; }
.event-container .others .score-head { margin-right: 5px; width: 60px; line-height: 30px; background: rgba(0,0,0,0.5); font-weight: 500; font-size: 14px; color: #e9a025; }

.event-container .title-bg { background: #000; }
.event-container .team-bg { background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(112,112,112,0.7) 47%, rgba(0,0,0,0.7) 100%); background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(112,112,112,0.7) 47%,rgba(0,0,0,0.7) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(112,112,112,0.7) 47%,rgba(0,0,0,0.7) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); }
.event-container .score-bg { background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(112,112,112,0.9) 47%, rgba(0,0,0,0.9) 100%); background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(112,112,112,0.9) 47%,rgba(0,0,0,0.9) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(112,112,112,0.9) 47%,rgba(0,0,0,0.9) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#e6000000',GradientType=0 ); }

.event-type .title { display: block; text-decoration: none; text-align: right; color: #fff; padding: 10px; font-size: 14px; font-weight: 300; }
.event-type .title .text { float: right; margin-right: 3px; width: calc(100% - 221px); padding: 0px; background-repeat: no-repeat; background-position: 0px center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.event-type .title .text span { display: inline-block; }
.event-type .title .yellow { color: #ffd33b; font-weight: 300; padding: 0px 4px 0px 4px; }
.event-type .title .odd-title { float: right; margin-right: 3px; width: 60px; font-size: 14px; color: #acacac; font-weight: 500; text-align: center; }
.event-type .odd-container { padding-bottom: 6px; color: #000; font-size: 14px; }
.event-type .odd-container .score { min-width: 20px; text-align: left; margin: 0px 5px 0px 5px; color: green; font-weight: 500; }
.event-type .odd-container .green { color: green; font-weight: 500; }
.event-type .odd-container .event-title { float: right; display: block; text-decoration: none; color: #fff; width: calc(100% - 231px); padding: 0px 10px 0px 5px; margin-top: 1px; margin-bottom: 1px; font-weight: 400; background-repeat: no-repeat; background-position: 5px center; margin-right: 3px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.event-type .odd-container .event-time { color: #acacac; font-size: 10px; font-weight: 300; height: 20px; line-height: 20px; margin: 5px 30px 0px 8px; }
.event-type .odd-container .odd-rate { display: block; float: right; text-decoration: none; width: 60px; height: 40px; line-height: 40px; margin-right: 3px; background: #333; color: #fff; text-align: center; margin-top: 1px; margin-bottom: 1px; font-weight: 500; font-size: 12px; }
.event-type .odd-container .odd-rate:hover { background: #000; }
.event-type .odd-container .passive { opacity: 0.2; filter: alpha(opacity=20); color: #000; }
.event-type .odd-container .passive-ev { opacity: 0.2; filter: alpha(opacity=20); color: #000; }
.event-type .odd-container .passive-ma { opacity: 0.2; filter: alpha(opacity=20); color: #000; }
.event-type .odd-container .odd-all { display: block; float: right; text-decoration: none; width: 30px; height: 40px; line-height: 40px; margin-right: 3px; text-align: center; margin-top: 1px; margin-bottom: 1px; font-weight: 500; color: #acacac; }

.event-type .odd-container .selected-odd { color: #fff; background: #000 !important; cursor: default !important; }

.event-type .odd-container .passive:hover { background: #333; }
.event-type .odd-container .passive-ev:hover { background: #333; }
.event-type .odd-container .passive-ma:hover { background: #333; }

.event-type .odd-container .red-arrow { color: red !important; position: absolute; font-size: 24px; margin-top: -9px; }
.event-type .odd-container .red-back i { display: none; }
.event-type .odd-container .green-arrow { color: green !important; position: absolute; font-size: 24px; margin-top: 22px; }
.event-type .odd-container .green-back i { display: none; }

.event-type .odd-container .passive .red-arrow { color: #000 !important; }
.event-type .odd-container .passive .green-arrow { color: #000 !important; }
.event-type .odd-container .passive-ev .red-arrow { color: #000 !important; }
.event-type .odd-container .passive-ev .green-arrow { color: #000 !important; }
.event-type .odd-container .passive-ma .red-arrow { color: #000 !important; }
.event-type .odd-container .passive-ma .green-arrow { color: #000 !important; }

.events-holder { display: block; width: 100%; background: #0e0e0e; border-top: 1px solid #0e0e0e; color: #acacac; }
.events-holder .show-all { border-top: 1px solid #333; padding: 15px 0px; font-size: 13px; text-align: center; font-weight: 400; }
.events-holder .show-all a { color: #acacac; text-decoration: none; }

.event-type .event-row { padding-bottom: 10px; border-top: 1px solid #333; }
.event-type .event-odds { display: block; margin-top: 19px; }

.rear-menu-side .event-odds { width: 100%; float: right; }
.rear-menu-side .odd-rate { width: calc(33.3% - 4px) !important; height: 25px !important; line-height: 25px !important; }
.rear-menu-side .odd-container .red-arrow { margin-right: 15px; }
.rear-menu-side .odd-container .green-arrow { margin-top: 7px !important; margin-right: 15px; }

.sport-live-container .active div { color: #ffd33b !important; font-style: italic !important; }
.sport-live-container .sport-categories-left-link:hover div { color: #ffd33b !important; font-style: italic !important; }
.sport-live-container .odd-container { padding-bottom: 0px !important; }
.sport-live-container .event-row { padding-bottom: 5px !important; background: #fff7db !important; }
.sport-live-container .event-title { width: 100% !important; padding: 0px 5px !important; margin: 0px !important; margin-top: 10px !important; }
.sport-live-container .home-team { width: calc(50% - 27px) !important; color: #000 !important; text-align: left !important; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; }
.sport-live-container .away-team { width: calc(50% - 27px) !important; color: #000 !important; text-align: right !important; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; }
.sport-live-container .score { margin: 0px !important; width: 25px !important; min-width: 25px !important; text-align: center !important; }
.sport-live-container .score-seperator { width: 4px !important; min-width: 4px !important; }
.sport-live-container .event-odds { margin-top: 5px !important; }

.score-type .title { display: block; text-decoration: none; text-align: right; color: #ffd33b; padding: 10px 9px 10px 9px;; font-size: 14px; font-weight: 300; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.score-type .title .text { float: right; margin-right: 10px; padding: 0px; background-repeat: no-repeat; background-position: 0px center; }
.score-type .title .text span { display: inline-block; }
.score-type .title .yellow { color: #ffd33b; font-weight: 300; }
.score-type .title .odd-title { float: right; margin-right: 1px; width: 80px; font-size: 14px; color: #fff; font-weight: 500; text-align: center; }

.score-type .score-container { padding-bottom: 6px; color: #acacac; font-size: 14px; border-top: 1px solid #333; }
.score-type .score-container .team { float: right; border-left: 0px solid #ccc; width: calc(50% - 150px); padding: 0px 9px 0px 9px; height: 30px; line-height: 30px; margin-top: 0px; margin-bottom: 0px; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.score-type .score-container .score { float: right; color: #ffd33b; border-left: 0px solid #ccc; text-align: center; width: 50px; height: 30px; line-height: 30px; margin-top: 0px; margin-bottom: 0px; font-weight: 500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.score-type .score-container .status { float: right; color: #fff; border-left: 0px solid #ccc; text-align: center; width: 100px; height: 30px; line-height: 30px; margin-top: 0px; margin-bottom: 0px; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.score-type .score-container .time { float: right; color: #ffd33b; text-align: center; width: 100px; height: 30px; line-height: 30px; margin-top: 0px; margin-bottom: 0px; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.score-type .score-container .score-row:nth-child(odd) {  }
.score-type .score-container .score-row:nth-child(even) {  }

.market-types { background: #0e0e0e; }

.market-type .title { display: block; text-decoration: none; text-align: right; color: #ffd33b; border-bottom: 1px solid #333; padding: 10px; font-size: 14px; font-weight: 400; }
.market-type .odd-container { color: #fff; font-size: 14px; padding-bottom: 6px; }

.market-type .odd-container .odd-double { width: 50%; }
.market-type .odd-container .odd-triple { width: 33.33%; }

.market-type .odd-container .odd-link { float: right; display: block; text-decoration: none; color: #fff; }
.market-type .odd-container .odd-link .odd-title { float: right; width: calc(100% - 64px); margin-top: 2px; margin-right: 2px; height: 30px; line-height: 30px; padding: 0px 10px; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.market-type .odd-container .odd-link .odd-line { display: inline-block; background: green; border-radius: 4px; padding: 1px 8px 1px 8px; height: 20px; line-height: 20px; color: #fff; font-size: 10px; font-weight: 500; margin: 0px 8px 0px 8px; }
.market-type .odd-container .odd-link .odd-rate { float: right; width: 60px; height: 30px; margin-top: 2px; margin-left: 2px; line-height: 30px; background: #333; color: #fff; text-align: center; font-size: 12px; font-weight: 500; }
.market-type .odd-container .odd-link .odd-rate::after { clear: both; height: 0px; }

.market-type .odd-container .odd-link:hover {  }
.market-type .odd-container .odd-link:hover .odd-title { background: #333; }
.market-type .odd-container .odd-link:hover .odd-rate { background: #333; color: #fff; }

.market-type .odd-container .passive-link { opacity: 0.35; filter: alpha(opacity=35); cursor: default !important; }
.market-type .odd-container .passive-link .odd-title { opacity: 0.35; filter: alpha(opacity=35); cursor: default !important; background: #0e0e0e !important; }
.market-type .odd-container .passive-link .odd-line { opacity: 0.35; filter: alpha(opacity=35); cursor: default !important; }

.market-type .odd-container .passive-link-ev { opacity: 0.35; filter: alpha(opacity=35); cursor: default !important; }
.market-type .odd-container .passive-link-ev .odd-title { opacity: 0.35; filter: alpha(opacity=35); cursor: default !important; background: #0e0e0e !important; }
.market-type .odd-container .passive-link-ev .odd-line { opacity: 0.35; filter: alpha(opacity=35); cursor: default !important; }

.market-type .odd-container .passive-link-ma { opacity: 0.35; filter: alpha(opacity=35); }
.market-type .odd-container .passive-link-ma .odd-title { opacity: 0.35; filter: alpha(opacity=35); background: #0e0e0e !important; }
.market-type .odd-container .passive-link-ma .odd-line { opacity: 0.35; filter: alpha(opacity=35); }

.market-type .odd-container .passive { opacity: 0.35; filter: alpha(opacity=35); color: #000; }
.market-type .odd-container .passive-ev { opacity: 0.35; filter: alpha(opacity=35); color: #000; }
.market-type .odd-container .passive-ma { opacity: 0.35; filter: alpha(opacity=35); color: #000; }
.market-type .odd-container .red-arrow { color: red !important; position: absolute; font-size: 24px; margin-top: -8px; }
.market-type .odd-container .red-back i { display: none; }
.market-type .odd-container .green-arrow { color: green !important; position: absolute; font-size: 24px; margin-top: 12px; }
.market-type .odd-container .green-back i { display: none; }

.market-type .odd-container .passive .red-arrow { color: #000 !important; }
.market-type .odd-container .passive .green-arrow { color: #000 !important; }

.market-type .odd-container .passive-ev .red-arrow { color: #000 !important; }
.market-type .odd-container .passive-ev .green-arrow { color: #000 !important; }

.market-type .odd-container .passive-ma .red-arrow { color: #000 !important; }
.market-type .odd-container .passive-ma .green-arrow { color: #000 !important; }

.market-type .odd-container .selected-odd { }
.market-type .odd-container .selected-odd .odd-rate { background: #000 !important; color: #fff !important; cursor: default !important; }
.market-type .odd-container .selected-odd .odd-title { color: #fff !important; background: #000 !important; cursor: default !important; }

.data-table { width: 100%; border-collapse: collapse; font-size: 14px; }
.data-table td, .data-table th { padding: 8px 5px; color: #ffd33b; }
.data-table th { border-bottom: 1px solid #ccc; }
.data-table tbody tr:nth-child(odd) td { background: #efefef; color: #000; }
.data-table tbody tr:nth-child(even) td { background: #fff; color: #000; }
.data-table a { text-decoration: none; color: #8e710b; }
.data-table a:hover { text-decoration: underline; }
.data-table .s-waiting { color: blue !important; }
.data-table .s-answered { color: green !important; }
.data-table .s-closed { color: #383838 !important; }
.data-table .sub-row { background: #fff !important; padding: 0px; }
.data-table .active-row td { background: #ffd33b !important; color: #000 !important; }

.data-sub-container { border-top: 4px solid #ffd33b; border-bottom: 4px solid #0e0e0e; padding-top: 8px; padding-bottom: 8px; }
.data-sub-table { width: 100%; border-collapse: collapse; font-size: 12px; }
.data-sub-table td, .data-sub-table th { padding: 8px 5px; color: #0e0e0e; background: #fff !important; }
.data-sub-table th { border-bottom: 1px solid #ccc; }
.data-sub-table tbody  td { background: #fbf0f9; }
.data-sub-table .badge { background: green; padding: 0px 6px; border-radius: 4px; color: #fff; font-size: 10px; }

.pagination { margin-top: 15px; }
.pagination a { display: inline-block; min-width: 30px; text-align: center; font-size: 14px; font-weight: 400; text-decoration: none; margin: 3px; border: 1px solid #ccc; color: #ffd33b; padding: 5px; }
.pagination a:hover, .pagination .active { background: #fbf0f9 !important; color: #000; }
.pagination .info { display: inline-block; font-size: 14px; color: #acacac; font-weight: 400; margin: 0px 10px; }

.support-container .bubble { max-width: 80%; min-width: 30%; padding: 10px; border-radius: 10px; margin: 4px; color: #000; font-weight: 400; font-size: 14px; line-height: 160%; }
.support-container .user_bubble .icon { float: left; width: 45px; height: 45px; background: url(../images/member.png); }
.support-container .user_bubble .bubble { float: left; background: #9fd8a4; text-align: left; }
.support-container .user_bubble .time { clear: both; margin-left: 55px; text-align: left; font-size: 12px; color: #567558; }
.support-container .admin_bubble .icon { float: right; width: 45px; height: 45px; background: url(../images/agent.png); }
.support-container .admin_bubble .bubble { float: right; background: #e6e6e6; text-align: right; }
.support-container .admin_bubble .time { clear: both; margin-right: 55px; text-align: right; font-size: 12px; color: #a7a7a7; }

.slip-container { width: 100%; background: #ffd33b; padding-top: 2px; padding-bottom: 2px; color: #222; font-weight: 400; }
.slip-container .no-bet { text-align: center; padding: 10px 30px; line-height: 160%; font-size: 14px; }
.slip-container .amounts { width: 100%; background: #fff7db; color: #000; font-weight: 500; padding: 10px 0px; text-align: center; line-height: 160%; }
.slip-container .buttons { width: 100%; padding: 15px 0px; background: #ffd33b; text-align: center; }
.slip-container .buttons .checkbox { margin-bottom: 15px; font-size: 14px; }
.slip-container .buttons .slip-currency { font-size: 14px; color: #000; font-weight: 500; }
.slip-container .buttons .slip-currency-type { font-size: 14px; }
.slip-container .form-button { border-radius: 6px; border: 1px solid #00b24f; background: #00b24f; display: inline-block; color: #fff; padding: 7px 20px 7px 20px; text-decoration: none; font-weight: 400; }
.slip-container .form-button:hover { color: #4b0242; background: #fff; }
.slip-container .red-button { border: 1px solid red; color: #fff; background: red !important; }
.slip-container .red-button:hover { color: red !important; background: #fff !important; }
.slip-container .form-loading { display: none; width: 43px; height: 30px; background: url(../images/loader.gif?) no-repeat; background-position: center; }
.slip-container .slip-title { float: right; display: block; text-decoration: none; width: 50%; color: #a28636; border-bottom: 2px solid #ffd33b; text-align: center; font-weight: 300; font-size: 16px; padding: 10px 0px; }
.slip-container .slip-active { color: #000 !important; border-bottom: 2px solid #000 !important; font-weight: 500; }
.slip-container .amount-input { width: 100%; background: #ffd33b; padding: 10px 5px 1px 5px; }
.slip-container .amount-input .text { float: right; width: 50%; text-align: right; padding-left: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px; padding-top: 2px; }
.slip-container .amount-input .amount { float: left; width: 50%; }
.slip-container .amount-input .amount input { width: 100%; font-size: 14px; border: 1px solid #27585A; }
.slip-container .amount-input .total-rate { text-align: left; padding-left: 4px; margin-bottom: 4px; font-weight: 400; font-size: 12px; color: #000; }
.slip-container .slip-event { border-bottom: 1px dotted #383838; background: #fff7db; }
.slip-container .slip-remove { float: left; width: 30px; margin-top: 9px; text-align: left; padding-left: 9px; }
.slip-container .slip-remove a { text-decoration: none; color: #e74c3c; }
.slip-container .slip-row { float: right; padding-right: 5px; font-weight: 400; font-size: 14px; width: 100%; margin-top: 9px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.slip-container .slip-first-row { width: calc(100% - 30px) !important; }
.slip-container .slip-market { color: #999 !important; }
.slip-container .slip-bet { width: calc(100% - 80px) !important; }
.slip-container .slip-bet-price { float: left; font-weight: 500; font-size: 14px; width: 80px; margin-top: 9px; text-align: left; padding-left: 9px; color: #383838; }
.slip-container .event-amount { float: right; text-align: right; width: 50%; padding-right: 5px; margin-top: 9px; }
.slip-container .event-amount input { width: 90%; font-size: 14px; border: 1px solid #27585A; }
.slip-container .slip-event-won { float: left; text-align: left; padding-left: 5px; width: 50%; margin-top: 9px; font-size: 14px; padding-top: 3px; }
.slip-container .event-changed { display: none; position: relative; top: -57px; height: 0px; width: 300px; }
.slip-container .event-changed .background { background: rgba(0,0,0,0.8); width: 300px; height: 56px; }
.slip-container .event-changed .text { text-align: center; position: relative; top: 50%; right: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 14px; font-weight: 300; }
.slip-container .end { clear: both; height: 10px; }

.stream-bar .title { text-align: center !important; background: #ffd33b !important; color: #000 !important; font-size: 14px !important; font-weight: 500 !important; padding: 0px !important; }
.stream-bar .symbol { position: absolute; right: 50%; transform: translate(-50%,-2px); font-size: 20px; }
.stream-bar .single-tab { width: 100%; height: 100%; cursor: pointer; position: relative; padding: 12px 0px; }
.stream-bar .double-tab { width: 50%; height: 100%; cursor: pointer; position: relative; padding: 12px 0px; }
.stream-bar .tab-border { border-right: 1px solid #000; }
.stream-bar .stream-container { width: 100%; background: #0e0e0e; }

.splash-view { display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9999999; }
.splash-view .splash-container { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 30%; background: #fff; border: 3px solid #333; }
.splash-view .splash-header { width: 100%; padding: 10px; background: #000; color: #fff; font-weight: 400; }
.splash-view .splash-content { overflow: auto; padding: 10px; max-width: 600px; max-height: 400px; }

.account-page-photo { width: 100px; }
.account-page-container { margin-right: 25px; color: #fff; }
.withdraw-description { background: #fff; margin: 15px; margin-bottom: 0px; padding: 10px; color: #000; }
.topup-success { background: #376937; color: #fff; font-weight: 400; margin-bottom: 25px; text-align: center; border-radius: 6px; }
.topup-fail { background: #823434; color: #fff; font-weight: 400; margin-bottom: 25px; text-align: center; border-radius: 6px; }

.verify-human { position: fixed; top: 50%; right: 50%; transform: translate(-50%, -50%); background: #fff; width: 400px; max-width: 95%; padding: 25px; border: 1px solid #383838; font-size: 20px; font-weight: 400; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2); box-shadow: 0 1px 5px rgba(0,0,0,0.2); }
.verify-human .title { color: #4b0242; }

.frame-background { background: #333 !important; }

@media screen and (min-width: 1001px) {

	.mobile { display: none; }

}

@media screen and (max-width: 1000px) {

	body { background: #17191f; }

	.desktop { display: none; }

	.p15 { padding: 7px; }
	.p30 { padding: 10px; }
	.ts { text-shadow: 1px 1px #000; }
	.medium { font-weight: 300; }

	.main-splash .image-container { height: 200px; }
	.main-splash .box-container { height: 90px; margin-top: -90px; }
	.main-games-box .game { width: calc(100% - 6px); margin-right: 3px; margin-top: 3px; }
	.main-games-box .game .title { display: block; margin-top: -50px; }

	.event-container { width: 100%; margin: 0px; }

	.rear-bar-mobile { display: none; position: fixed; width: 100%; left: 0px; top: 50px; height: calc(100% - 50px); background: rgba(0,0,0,0.95); z-index: 999998; overflow: auto; }

	.form-container { width: calc(100% - 20px); }
	.form-container .form-title { width: 100%; margin: 8px 6px 8px 6px; }
	.form-container .form-element { width: 100%; }

	.game-place { position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 999999; }

	.item-box, .item-2-box { width: calc(100% - 6px); margin-right: 3px; }

	.market-type .odd-container .odd-double { width: 100%; }
	.market-type .odd-container .odd-triple { width: 100%; }

	.event-type .title .text { width: calc(100% - 6px); }
	.event-type .title .odd-title { display: none; }

	.event-type .odd-container .event-title { font-size: 12px; padding: 0px 3px 0px 3px; width: calc(100% - 165px); background: inherit; }
	.event-type .odd-container .odd-rate { width: 50px; }
	.event-type .odd-container .odd-all { display: none; }

	.event-type .odd-container .red-arrow { margin-right: -6px; margin-top: -7px; }
	.event-type .odd-container .green-arrow { margin-right: -6px; margin-top: 22px; }

	.frame-background .event-type .odd-container .event-title { font-size: 14px; padding: 0px 3px 0px 3px; width: 100%; }
	.frame-background .event-type .odd-container .red-arrow { margin-right: 6px; margin-top: -9px; }
	.frame-background .event-type .odd-container .green-arrow { margin-right: 6px; margin-top: 22px; }


	.event-type .odd-container .odd-rate:hover { color: #fff; background: #333; }
	.event-type .odd-container .passive { color: #000 !important; background: #333 !important; }
	.event-type .odd-container .passive-ma { color: #000 !important; background: #333 !important; }
	.event-type .odd-container .passive-ev { color: #000 !important; background: #333 !important; }

	.score-type .score-container { font-size: 12px; }
	.score-type .score-container .team { width: calc(50% - 30px); padding: 0px 4px 0px 4px; }
	.score-type .score-container .score { width: 30px; }
	.score-type .score-container .status { display: none; }
	.score-type .score-container .time { display: none; }

	.event-container .title { font-size: 12px; }
	.event-container .score-box { margin-right: 2px; width: 30px; height: 25px; line-height: 25px; font-size: 14px; font-weight: 400; }
	.event-container .score-box .line-1 { margin-top: -12px; border-top: 1px solid rgba(0,0,0,0.25); }
	.event-container .football .card { width: 8px; height: 12px; border-radius: 2px; }
	.event-container .football .team { padding: 4px; margin-right: 3px; width: calc(50% - 45px); height: 70px; font-size: 14px; }
	.event-container .football .score { width: 81px; }
	.event-container .football .score-middle { width: 15px !important; }
	.event-container .football .time { margin-right: 2px; margin-top: 2px; margin-bottom: 5px; width: 81px; font-weight: 300; font-size: 12px; }
	.event-container .football .time span { display: block; font-weight: 500; margin-top: 0px; line-height: 22px; }
	.event-container .others .wi-1 { width: calc(100% - 32px); }
	.event-container .others .wi-2 { width: calc(100% - 64px); }
	.event-container .others .wi-3 { width: calc(100% - 96px); }
	.event-container .others .wi-4 { width: calc(100% - 128px); }
	.event-container .others .wi-5 { width: calc(100% - 160px); }
	.event-container .others .wi-6 { width: calc(100% - 192px); }
	.event-container .others .wi-7 { width: calc(100% - 224px); }
	.event-container .others .wi-8 { width: calc(100% - 256px); }
	.event-container .others .team { height: 25px; line-height: 25px; font-weight: 400; font-size: 14px; padding: 0px 3px 0px 3px; }
	.event-container .others .time { padding: 0px 3px 0px 3px; line-height: 25px; font-weight: 400; font-size: 12px; color: #fff; }
	.event-container .others .score-head { margin-right: 2px; width: 30px; line-height: 25px; font-weight: 300; font-size: 10px; }

	.static-menu { width: calc(100% - 10px); display: block; margin-right: 10px; }
	.static-content { width: 100%; margin-top: -10px; }

	.data-table td, .data-table th { padding: 4px 0px; font-size: 12px; font-weight: 400 !important; }
	.data-sub-table td, .data-sub-table th { padding: 4px 0px; font-size: 12px; font-weight: 400 !important; }

	.support-container .user_bubble .time { margin-left: 10px; }
	.support-container .admin_bubble .time { margin-right: 10px; }
	
	.market-type .odd-container .odd-link:hover {   }
	.market-type .odd-container .odd-link:hover .odd-title { background: #0e0e0e; }
	.market-type .odd-container .odd-link:hover .odd-rate { background: #333; }

	.mobile-overflow-x { overflow-x: auto !important; }
	.long-table-container { width: 800px !important; }

	.form-container .form-link:hover { color: #82828e; }
	.form-container .form-button:hover { color: #fff; }	

	.splash-view .splash-container { min-width: 90%; }

}

.mobile-bar { height: 50px; position: fixed; top: 0px; right: 0px; width: 100%; background: #000; z-index: 999990; border-bottom: 1px solid #333; }
.mobile-bar .icon { float: right; width: 40px; text-align: center; margin-top: 10px; }
.mobile-bar .icon a { font-size: 24px; color: #ddd; text-decoration: none; }
.mobile-bar .logo { float: right; width: calc(100% - 160px); margin-top: 5px; }
.mobile-bar .badge { display: none; position: fixed; left: 3px; top: 3px; border-radius: 8px; min-width: 16px; height: 16px; line-height: 16px; font-size: 12px; font-weight: 400; background: red; color: #fff; }

.mobile-bar-holder { width: 100%; height: 50px; }
.mobile-footer-bar { position: fixed; right: 0px; bottom: 0px; height: 50px; width: 100%; background: #000; z-index: 999990; border-top: 1px solid #333; font-size: 0px; }
.mobile-footer-bar a { width: 20%; display: inline-block; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; color: #ddd; text-decoration: none; font-weight: 400; padding-top: 32px; background-repeat: no-repeat; background-position: center 6px; }
 
.mobile-footer-bar .sport { background-image: url(../icons/top-bar/sport.png); }
.mobile-footer-bar .live { background-image: url(../icons/top-bar/live.png); }
.mobile-footer-bar .scores { background-image: url(../icons/top-bar/scores.png); }
.mobile-footer-bar .casino { background-image: url(../icons/top-bar/casroom.png); }
.mobile-footer-bar .account { background-image: url(../icons/top-bar/account.png); }

.mobile-footer-bar .active { color: #333 !important; }

.mobile-menu { display: none; position: fixed; left: 0px; top: 50px; width: 100%; height: 100%; z-index: 999995; background: rgba(0,0,0,0.95); overflow: auto; }
.mobile-menu .info { text-align: center; color: yellow; margin-top: 25px; line-height: 150%; }
.mobile-menu .info .name { color: #fff; }
.mobile-menu .buttons { text-align: center; padding: 20px 0px; margin-top: 6px; }
.mobile-menu .buttons a { display: inline-block; color: #fff; text-decoration: none; font-size: 16px; font-weight: 400; background: #000; border-radius: 4px; padding: 6px 10px; margin: 4px 4px; }
.mobile-menu .items { width: calc(100% - 30px); margin-right: 15px; padding: 10px 0px 30px 0px; margin-bottom: 400px; }
.mobile-menu .items a { background: #0e0e0e; display: block; color: #fff; text-decoration: none; text-align: center; padding: 12px 0px; margin: 0px; font-weight: 400; border-top: 1px solid #333; }
.mobile-menu .language-box { display: none; margin-bottom: 10px; }
.mobile-menu .language-box a { display: block; color: #333; text-decoration: none; padding: 5px; text-align: center; }
.mobile-menu .button1 { background: #0e0e0e !important; color: #fff !important; border: 2px solid #7a7a7a; padding: 5px 20px 5px 20px; font-weight: 500; border-radius: 4px; margin: 8px 2px 0px 2px; font-size: 14px; }
.mobile-menu .button2 { background: #ffcb39 !important; color: #000 !important; font-weight: 500; border-radius: 4px; padding: 6px 20px 6px 20px; font-size: 14px; margin: 8px 2px 0px 2px; }







































