@font-face {
    font-family: SportsFont;
    src: url(SportsFont/sports.eot?v=4.7.0);
    src: url(SportsFont/sports.eot?#iefix&v=4.7.0) format('embedded-opentype'),url(SportsFont/sports.woff?v=4.7.0) format('woff'),url(SportsFont/sports.ttf?v=4.7.0) format('truetype'),url(SportsFont/sports.svg?v=4.7.0#SportsFontregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.sfn {
    display: inline-block;
    font: normal normal normal 14px/1 SportsFont;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.sfn:before {
    content: "\e819"
}

.sfn-1:before {
    content: "\e805"
}

.sfn-2:before {
    content: "\e80a"
}

.sfn-23:before {
    content: "\e818"
}

.sfn-5:before {
    content: "\e807"
}

.sfn-3:before {
    content: "\e802"
}

.sfn-16:before {
    content: "\e809"
}

.sfn-36:before {
    content: "\e81e"
}

.sfn-13:before {
    content: "\e824"
}

.sfn-31:before {
    content: "\e80c"
}

.sfn-15:before {
    content: "\e80b"
}

.sfn-60:before {
    content: "\e822"
}

.sfn-34:before {
    content: "\e819"
}

.sfn-32:before {
    content: "\e816"
}

.sfn-10:before {
    content: "\e832"
}

.sfn-21:before {
    content: "\e800"
}

.sfn-28:before {
    content: "\e814"
}

.sfn-17:before {
    content: "\e801"
}

.sfn-22:before {
    content: "\e829"
}

.sfn-24:before {
    content: "\e823"
}

.sfn-7:before {
    content: "\812"
}

.sfn-29:before {
    content: "\e82c"
}

.sfn-9:before {
    content: "\e803"
}

.sfn-6:before {
    content: "\e825"
}

.sfn-4:before {
    content: "\e823"
}

.sfn-117:before {
    content: "\e832"
}

.sfn-11:before {
    content: "\e801"
}

.sfn-61:before {
    content: "\e808"
}

.sfn-12:before {
    content: "\e80e"
}

.sfn-81:before {
    content: "\e81d"
}

.sfn-19:before {
    content: "\e830"
}

.sfn-106:before,.sfn-18:before {
    content: "\e811"
}

.sfn-37:before {
    content: "\e81c"
}

.sfn-52:before {
    content: "\e806"
}

.sfn-20:before {
    content: "\e81b"
}

.sfn-26:before {
    content: "\e806"
}

.sfn-14:before {
    content: "\e804"
}

.sfn-109:before,.sfn-110:before,.sfn-111:before,.sfn-112:before,.sfn-113:before,.sfn-118:before,.sfn-121:before {
    content: "\e831"
}

.sfn-50:before,.sfn-44:before,.sfn-46:before,.sfn-43:before,.sfn-48:before,.sfn-105:before,.sfn-103:before {
    content: "\e804"
}

.sfn-51:before,.sfn-102:before,.sfn-47:before,.sfn-104:before,.sfn-49:before {
    content: "\e804"
}


